<ion-header>
  <ion-toolbar>
    <ion-title>Courses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="ion-text-center" style="margin-top: 2rem;">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-list *ngIf="!loading && courses.length > 0">
    <ion-item
      *ngFor="let course of courses"
      [routerLink]="['/course-detail', course.id]">
      {{ course.title }}
    </ion-item>
  </ion-list>

  <div *ngIf="!loading && courses.length === 0" class="ion-text-center" style="margin-top: 2rem;">
    No courses found.
  </div>
</ion-content>
