<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/course-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Course Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="course">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ course.title }}</ion-card-title>
      <ion-card-subtitle>Code: {{ course.code }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Year:</strong> {{ course.year }}</p>
      <p>{{ course.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>