/* src/app/pages/course‐detail/course‐detail.page.scss */

/* You can add custom styling here. For now, let’s just give a small margin. */

ion-card {
  margin: 16px;
}

ion-card-content p {
  margin-bottom: 8px;
  line-height: 1.4;
}
