<!-- src/app/pages/course-detail/course-detail.page.html -->

<ng-container *ngIf="course">
  <!-- … your card markup … -->

  <!-- Instead of `course.students?.length` use an explicit null check: -->
  <ng-container *ngIf="course.students && course.students.length > 0; else noStudents">
    <ion-list>
      <ion-list-header>
        Students Enrolled ({{ course.students.length }})
      </ion-list-header>
      <ion-item *ngFor="let s of course.students">
        {{ s.firstName }} {{ s.lastName }}
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #noStudents>
    <div class="ion-text-center ion-padding">No students enrolled.</div>
  </ng-template>
</ng-container>
