<!-- src/app/app.component.html -->

<ion-app>
  <!-- 1) Define the side menu and give it a `contentId="main-content"` -->
  <ion-menu side="start" menuId="first" contentId="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/course-list">Courses</ion-item>
        <ion-item routerLink="/course-detail/1">Sample Detail</ion-item>
        <!-- add other menu items here -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- 2) Your main content area must have the same id="main-content" -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>